<ul class="recipes_container">
  <% @recipes.each_with_index do |recipe, index| %>
    <li class="recipe_details">
      <%= link_to recipe, class: "recipe_heading" do %>
        <h2 class="recipe_name"><%= recipe.name %></h2>
      <% end %>
        <p class="recipe_description"><%= recipe.description %></p>
        <%= button_to "Remove", recipe_path(id: recipe.id), method: :delete, class: 'remove_recipe_btn' %>
    </li>
  <% end %>
</ul>